<main class="px-4 py-4 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-2xl  space-y-2">
    <.flash_group flash={@flash} />
    <.link
      navigate="\"
      class="flex p-1 border border-black rounded bg-green-100 
          hover:bg-green-300"
    >
      <div class="p-2">
        <.icon name="hero-home-solid" class="h-5 w-5" />
      </div>
      <div class="p-2 font-black font-serif">
        SCHOOL - APP
      </div>
    </.link>
    <%= @inner_content %>
  </div>
</main>
